:root {
  --ifm-color-primary: #1d4ed8;
  --ifm-color-primary-dark: #1e40af;
  --ifm-color-primary-darker: #1e3a8a;
  --ifm-color-primary-darkest: #172554;
  --ifm-color-primary-light: #2563eb;
  --ifm-color-primary-lighter: #3b82f6;
  --ifm-color-primary-lightest: #60a5fa;
  --ifm-code-font-size: 92%;
}

.theme-doc-markdown h1 {
  letter-spacing: 0;
}
